<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Cell</string>
	
	<key>Summary</key>
	<string>This generates a new scene using The Funtasty MVVM-C architecture.</string>

	<key>Description</key>
	<string>This generates a new cell.</string>

	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>

	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>

	<key>SortOrder</key>
	<string>9</string>

	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the cell to create</string>
			
			<key>Identifier</key>
			<string>sourceCellName</string>
			
			<key>Name</key>
			<string>New cell name:</string>
			
			<key>NotPersisted</key>
			<true/>
			
			<key>Required</key>
			<true/>
			
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceCellName:identifier___</string>
			
			<key>Identifier</key>
			<string>sourceCellIdentifier</string>

			<key>Type</key>
			<string>static</string>
		</dict>

		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceCellIdentifier___Cell</string>
			
			<key>Description</key>
			<string>The XIB name</string>
			
			<key>Identifier</key>
			<string>xibName</string>
			
			<key>Name</key>
			<string>XIB name:</string>
			
			<key>Required</key>
			<true/>
			
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceCellIdentifier___Cell</string>
			
			<key>Description</key>
			<string>The Cell name</string>
			
			<key>Identifier</key>
			<string>cellName</string>
			
			<key>Name</key>
			<string>Cell name:</string>
			
			<key>Required</key>
			<true/>
			
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceCellIdentifier___CellModel</string>
			
			<key>Description</key>
			<string>The cell model name</string>
			
			<key>Identifier</key>
			<string>cellModelName</string>
			
			<key>Name</key>
			<string>CellModel name:</string>
			
			<key>Required</key>
			<true/>
			
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
