<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Scene</string>
	<key>Description</key>
	<string>This generates a new SwiftUI scene using Futured architecture. It consists of the view and view state.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the scene to create</string>
			<key>Identifier</key>
			<string>sceneName</string>
			<key>Name</key>
			<string>New Scene Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneName:identifier___</string>
			<key>Identifier</key>
			<string>sceneIdentifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneIdentifier___View</string>
			<key>Description</key>
			<string>The view name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sceneIdentifier___ViewState</string>
			<key>Description</key>
			<string>The view state name</string>
			<key>Identifier</key>
			<string>viewStateName</string>
			<key>Name</key>
			<string>ViewState Name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Summary</key>
	<string>This generates a new SwiftUI scene using Futured architecture.</string>
</dict>
</plist>
