<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>Nibable view.</string>
	<key>Summary</key>
	<string>This generates a new nibable view under FuntastyKit.</string>
	<key>Description</key>
	<string>This generates a new view.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>9</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the view to create</string>
			<key>Identifier</key>
			<string>sourceViewName</string>
			<key>Name</key>
			<string>New view name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceViewName:identifier___</string>
			<key>Identifier</key>
			<string>sourceViewIdentifier</string>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceViewIdentifier___View</string>
			<key>Description</key>
			<string>The XIB name</string>
			<key>Identifier</key>
			<string>xibName</string>
			<key>Name</key>
			<string>XIB name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>___VARIABLE_sourceViewIdentifier___View</string>
			<key>Description</key>
			<string>The view name</string>
			<key>Identifier</key>
			<string>viewName</string>
			<key>Name</key>
			<string>View name:</string>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>static</string>
		</dict>
	</array>
</dict>
</plist>
