<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!-- Template -->
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>app.futured.swiftUIApplication</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.applicationBase</string>
        <string>com.apple.dt.unit.iosBase</string>
        <string>com.apple.dt.unit.appLifecycle.iOS</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This template provides a starting point for SwiftUI application that uses Futured Architecture</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Image</key>
    <dict>
        <key>BundleImageName</key>
        <string>app</string>
        <key>BundleIdentifier</key>
        <string>com.apple.dt.IDEKit</string>
    </dict>
    <key>Components</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
            <key>Name</key>
            <string>___PACKAGENAME___Tests</string>
        </dict>
    </array>

<!-- Project creation dialog options -->
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Override</key>
            <string>Swift</string>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>testingSystem</string>
            <key>Override</key>
            <string>Swift Testing</string>
        </dict>
    </array>

<!-- Project and target configuration -->
    <key>Project</key>
    <dict>
        <key>Configurations</key>
        <dict>
            <key>Beta</key>
            <dict>
                <key>ENABLE_NS_ASSERTIONS</key>
                <string>NO</string>
                <key>MTL_ENABLE_DEBUG_INFO</key>
                <string>NO</string>
                <key>DEBUG_INFORMATION_FORMAT</key>
                <string>dwarf-with-dsym</string>
                <key>SWIFT_COMPILATION_MODE</key>
                <string>wholemodule</string>
                <key>SWIFT_OPTIMIZATION_LEVEL</key>
                <string>-O</string>
                <key>VALIDATE_PRODUCT</key>
                <string>YES</string>
            </dict>
        </dict>
    </dict>
    <key>Targets</key>
    <array>
        <dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.cocoaTouchApplicationTarget</string>
            <key>SharedSettings</key>
            <dict>
                <key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
                <string>AppIcon</string>
                <key>ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME</key>
                <string>AccentColor</string>
                <key>TARGETED_DEVICE_FAMILY</key>
                <string>1,2</string>
                <key>INFOPLIST_KEY_UIApplicationSupportsIndirectInputEvents</key>
                <string>YES</string>
                <key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPhone</key>
                <string>UIInterfaceOrientationPortrait UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
                <key>INFOPLIST_KEY_UISupportedInterfaceOrientations_iPad</key>
                <string>UIInterfaceOrientationPortrait UIInterfaceOrientationPortraitUpsideDown UIInterfaceOrientationLandscapeLeft UIInterfaceOrientationLandscapeRight</string>
                <key>CODE_SIGN_STYLE</key>
                <string>Manual</string>
            </dict>
            <key>Configurations</key>
            <dict>
                <key>Debug</key>
                <dict/>
                <key>Release</key>
                <dict/>
                <key>Beta</key>
                <dict>
                    <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                    <string>___VARIABLE_bundleIdentifierPrefix:bundleIdentifier___.___PACKAGENAMEASRFC1034IDENTIFIER___.beta</string>
                </dict>
            </dict>
        </dict>
    </array>

<!-- Files -->
    <key>NameOfInitialFileForEditor</key>
    <string>___PACKAGENAME:identifier___App.swift</string>

    <key>Nodes</key>
    <array>
        <string>Resources/Assets.xcassets</string>
        <string>___PACKAGENAME:identifier___App.swift</string>
        <string>AppCoordinator.swift</string>
        <string>AppDelegate.swift</string>
        <string>Container.swift</string>
        <string>Model/DataCacheModel.swift</string>
        <string>Scenes/Example/ExampleComponentModel.swift</string>
        <string>Scenes/Example/ExampleComponent.swift</string>
        <string>Flow Coordinators/ExampleFlowCoordinator.swift</string>
    </array>

<!-- Files contained in template -->
    <key>Definitions</key>
    <dict>
        <key>Resources/Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Assets.xcassets</string>
            <key>Group</key>
            <string>Resources</string>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>appicon</string>
                    <key>Name</key>
                    <string>AppIcon</string>
                    <key>Platforms</key>
                    <dict>
                        <key>iOS</key>
                        <string>true</string>
                    </dict>
                </dict>
            </array>
            <key>SortOrder</key>
            <integer>100</integer>
        </dict>

        <key>___PACKAGENAME:identifier___App.swift</key>
        <dict>
            <key>Path</key>
            <string>App.swift</string>
            <key>SortOrder</key>
            <integer>99</integer>
        </dict>
        <key>AppCoordinator.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>AppCoordinator.swift</string>
        </dict>
        <key>AppDelegate.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>AppDelegate.swift</string>
        </dict>
        <key>Container.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>Container.swift</string>
        </dict>
        <key>Model/DataCacheModel.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>DataCacheModel.swift</string>
            <key>Group</key>
            <string>Model</string>
        </dict>
        <key>Flow Coordinators/ExampleFlowCoordinator.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>ExampleFlowCoordinator.swift</string>
            <key>Group</key>
            <string>Flow Coordinators</string>
        </dict>
        <key>Scenes/Example/ExampleComponent.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>ExampleComponent.swift</string>
            <key>Group</key>
            <array>
                <string>Scenes</string>
                <string>Example</string>
            </array>
        </dict>
        <key>Scenes/Example/ExampleComponentModel.swift</key>
        <dict>
            <key>SortOrder</key>
            <integer>99</integer>
            <key>Path</key>
            <string>ExampleComponentModel.swift</string>
            <key>Group</key>
            <array>
                <string>Scenes</string>
                <string>Example</string>
            </array>
        </dict>
    </dict>

</dict>
</plist>
